.article1,.article2,.article3,.article4,.article5,.article6,.article7,.article8
{
	width: 280px;
	height: 300px;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 6px rgba(240,240,240,0.6);  
	margin: 6px;
}

/*body{
	background-color: black; #ADD8E6 rgba(199,235,255,0.5)  
}*/

.banner{
	width: 1000px;
	height: 120px
}

.header{
	background-color: black;
	width: 100%;
	height: 20%;
	float: left;
}
.content{
	background-color: #8A8A8A;
	width: 100%;
	height: auto;
	float: left;
}
.article{
	float: left;
	margin: 5px;
	}
.footer{
	background-color: black;
	clear: both;
	margin-top: -150px;
	width: 100%;
	height: 15%;
	}
.twitter,.facebook,.google_plus
{
	color: white;
	height: 40px;
}