<<<<<<< HEAD

.article1,.article2,.article3,.article4,.article5,.article6,.article7,.article8
{
	width: 280px;
	height: 300px;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 6px rgba(240,240,240,0.6);  
	margin: 6px;
}

/*body{
	background-color: black; #ADD8E6 rgba(199,235,255,0.5)  
}*/

.banner{
	width: 1000px;
	height: 120px
}

.header{
	background-color: black;
	width: 100%;
	height: 20%;
/*		border: 2px solid blue;
*/	float: left;
}
.content{
	background-color: #8A8A8A;
	width: 100%;
	height: auto;
/*		border: 2px solid yellow;
*/	float: left;
=======
img{
	width: 280px;
	height: 300px;
	margin-top:30px;
	margin-right:15px;
	margin-left:15px;
	border-color: #ABD3DF;
}
body{
	background-color: #5D5E5E;
}
h1{
	font-family: 'Prestige Elite Std';
	font-size: 70;
	text-align: center;
	margin-top: 50px;
	color: white;
}
.banner{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	width: 1000px;
	height: 200px;
}
.header{
	width: 100%;
	height: 20%;
	float: left;
	background-color: black;
}
.content{
	width: 100%;
	height: auto;
	border: 2px;
	float: left;
	background-color: gray;
>>>>>>> alex_branch_2
}
.article{
	float: left;
	margin: 5px;
<<<<<<< HEAD
/*		border: 2px solid green;
*/	}
.footer{
	background-color: black;
=======
	margin-top: 30px;
	border: 2px;
}
.footer{
>>>>>>> alex_branch_2
	clear: both;
	margin-top: -150px;
	width: 100%;
	height: 15%;
<<<<<<< HEAD
/*		border: 2px solid black;
*/	}
.twitter,.facebook,.google_plus
{
	color: white;
	height: 40px;
}



=======
	background-color: black;
}
.btn-group{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}
>>>>>>> alex_branch_2
