.article1,.article2,.article3,.article4,.article5,.article6,.article7,.article8{
	width: 280px;
	height: 300px;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 6px rgba(240,240,240,0.1);  
	margin: 6px;
	z-index: 1;
	float: left;
	position: relative;
}
.square{
	width: 280px;y
	height: 300px;
	margin: 6px;
	float: left;
	border-radius: 3px;
	position: relative;
}
.shadow_box{
	background-color: rgba(51, 51, 51, 0.8);
	height: 40px;
	width:260;
	border-right: 10px;
	border-left: 10px;
	border-bottom: hidden;
	border-top: hidden;
	border-color: rgba(51, 51, 51, 0.8);
	border-style: solid;
	opacity: 0;
	margin: 6px;
	margin-top: 260px;
	display: block;
	position: absolute;
	overflow: hidden;
	z-index: 5;
	float:none;
}
.boxlink{
	color: white;
	font-size: 14px;
	text-decoration: none;
}
.boxlink:hover{
	color: white;
	text-decoration: none;
}
body{
	z-index: 0;
}
.banner{
	width: 1000px;
	height: 120px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
}
.header{
	background-color: black;
	width: 100%;
	height: 20%;
	float: left;
}
.content{
	background-color: #8A8A8A;
	width: 100%;
	height: auto;
	float: left;
}
.footer{
	background-color: black;
	clear: both;
	margin-top: -150px;
	width: 100%;
	height: 15%;
	}
.twitter,.facebook,.google_plus{
	color: white;
	height: 40px;
}
