	img{
		width: 280px;
		height: 300px;
	}
	.header{
		width: 100%;
		height: 20%;
		border: 2px solid blue;
		float: left;
	}
	.content{
		width: 100%;
		height: auto;
		border: 2px solid yellow;
		float: left;
	}
	.article{
		float: left;
		margin: 5px;
		border: 2px solid green;
	}
	.footer{
		clear: both;
		margin-top: -150px;
		width: 100%;
		height: 15%;
		border: 2px solid black;
	}