<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> NYTimes d3 Map</title>

	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<style type="text/css">
		.Montana, .Oregon { fill: #8A2BE2; }
		.York { fill: #D3D3D3; }
		.Florida { fill: #6B8E23; }
		.Arizona { fill: #FF4500; }
		.Minnesota { fill: #87CEEB;  }
		.circle { color: red; width: 50px; height: 50px; }
	</style>

</head>

<body>
	
	<h2> Viz 1 (separating for clarity's sake) </h2>

	<script>

		var width = 960;
		height = 1160;

		var svg = d3.select("body").append("svg")
		.attr("width", width)
		.attr("height", height);

		d3.json("/static/us.json", function(error, us) {
			var states = topojson.feature(us, us.objects.states).features;

			var projection = d3.geo.albersUsa()
			    .scale(1200)
			    .translate([width / 2, height / 2]);

			var path = d3.geo.path()
			    .projection(projection)    
			    .pointRadius(2);
	    
			svg.selectAll(".state")
			    .data(states)
			    .enter().append("path")
			    .attr("class", function(d){ return d.properties.name; })
			    .attr("d", path);

			svg.append("path")
			    .datum(topojson.feature(us, us.objects.places))
			    .attr("d", path)
			    .attr("class", "place");    
			});	

	</script>

	<h2> Viz 2 </h2>

	<script>

		url = window.location.href.match("%3C(.*)%3E")[1]
		console.log("/queryComments/<" + url + ">")

		$.ajax({
			type: "get",
			url: "/queryComments/<" + url + ">", 
			success: function(coordinates) {
				console.log("made it into this success")
				console.log("these are the coordinates" + coordinates)
				svg.append("circle")
				.attr("r",10)
				.style("fill", "red")
				.attr("transform", function() {
					return "translate(" + projection(coordinates) + ")"			
				});
			}
		});

	</script>
</body>
</html> 

