<html>
	<head>
		<link rel="stylesheet" href='http://twitter.github.io/bootstrap/assets/css/bootstrap.css'>

		<link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
		<script src="{{ url_for('static', filename='main_js.js')}}"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

		<title> Get With the Times </title>
	</head>

	<body>

		<div class="menu">
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Menu
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/articles/<all-sections>" >ALL SECTIONS</a></li>
					<li><a href="/articles/<world>" >WORLD</a></li>
					<li><a href="/articles/<us>" >U.S.</a></li>
					<li><a href="/articles/<politics>" >POLITICS</a></li>
					<li><a href="/articles/<new-york>" >NEW YORK</a></li>
					<li><a href="/articles/<business>" >BUSINESS</a></li>
					<li><a href="/articles/<dealbook>" >DEALBOOK</a></li>
					<li><a href="/articles/<technology>" >TECHNOLOGY</a></li>
					<li><a href="/articles/<sports>" >SPORTS</a></li>
					<li><a href="/articles/<science>" >SCIENCE</a></li>
					<li><a href="/articles/<health>" >HEALTH</a></li>
					<li><a href="/articles/<arts>" >ARTS</a></li>
					<li><a href="/articles/<style>" >STYLE</a></li>
					<li><a href="/articles/<opinion>" >OPINION</a></li>
				</ul>
			</div>
		</div>

	</body>

</html>