<html>

		<link rel="stylesheet" href='http://twitter.github.io/bootstrap/assets/css/bootstrap.css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
		<script src="{{ url_for('static', filename='main_js.js')}}"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

	<body>
		<div class="header">
			<img class="banner" src="/static/banner.svg">	
			<div class="menu">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							Menu
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" onclick="changeSection('all-sections')">ALL SECTIONS</a></li>
							<li><a href="#" onclick="changeSection('world')">WORLD</a></li>
							<li><a href="#" onclick="changeSection('national')">U.S.</a></li>
							<li><a href="#" onclick="changeSection('politics')">POLITICS</a></li>
							<li><a href="#" onclick="changeSection('nyregion')">NEW YORK</a></li>
							<li><a href="#" onclick="changeSection('business')">BUSINESS</a></li>
							<li><a href="#" onclick="changeSection('dealbook')">DEALBOOK</a></li>
							<li><a href="#" onclick="changeSection('technology')">TECHNOLOGY</a></li>
							<li><a href="#" onclick="changeSection('sports')">SPORTS</a></li>
							<li><a href="#" onclick="changeSection('science')">SCIENCE</a></li>
							<li><a href="#" onclick="changeSection('health')">HEALTH</a></li>
							<li><a href="#" onclick="changeSection('arts')">ARTS</a></li>
							<li><a href="#" onclick="changeSection('style')">STYLE</a></li>
							<li><a href="#" onclick="changeSection('opinion')">OPINION</a></li>
						</ul>
					</div>
				</div>		
			</div> <!-- end of header -->

		<div class="content">
			<a class="link1"><div class="square"><img class="article1"></div></a>
			<a class="link2"><div class="square"><img class="article2"></div></a>
			<a class="link3"><div class="square"><img class="article3"></div></a>
			<a class="link4"><div class="square"><img class="article4"></div></a>
			<a class="link5"><div class="square"><img class="article5"></div></a>
			<a class="link6"><div class="square"><img class="article6"></div></a>
			<a class="link7"><div class="square"><img class="article7"></div></a>
			<a class="link8"><div class="square"><img class="article8"></div></a>
		</div>	<!-- end of content -->
		
		<div class="footer">
		  <img class="twitter" src="/static/twitter.svg">	
		  <img class="facebook" src="/static/facebook.svg">	
		  <img class="google_plus" src="/static/google_plus.svg">	
		</div>  <!-- end of footer -->
	</body>
		
		<script>
			changeSection("all-sections")
		</script>

	</body> -->

	</html>
