<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<title>Get With the Times</title>
</head>
<style type="text/css">
	body { display: none; }
	html{ background-color: #D6D6D6; }
	img{ overflow: none;}
</style>

<body>
	<a href="/index/" class="transition"><img src="/static/main_banner.jpg"></a>
</body>

<script type="text/javascript">
	$(document).ready(function() {
    $("body").css("display", "none");
 
    $("body").fadeIn(2000);
 
    $("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(1000, redirectPage);      
    });
         
    function redirectPage() {
        window.location = linkLocation;
    }
});
</script>
</html>