<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<title>Get With the Times</title>
</head>
<style type="text/css">
	body { display: none; }
    html { 
      background-color: #D6D6D6;
      background: url(/static/main_banner.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }


  img{ overflow: none;}
</style>

<body>
	<a href="/index/" class="transition"></a>
</body>

<script type="text/javascript">
	$(document).ready(function() {
        $("body").css("display", "none");

        $("body").fadeIn(1000);

        $("a.transition").click(function(event){
            event.preventDefault();
            linkLocation = this.href;
            $("body").fadeOut(1000, redirectPage);      
        });

        function redirectPage() {
            window.location = linkLocation;
        }
        window.onclick = function() {
            setTimeout("window.location.href= '/index/'");
        }

    });
</script>
</html>